<div class="m-2 p-2">
  <mat-stepper #stepper>
    <form #formDebt="ngForm">

      <mat-step>
        <ng-template matStepLabel>Deuda</ng-template>
        <div class="row mx-auto py-3">

          <h4 class="m-0">Periodo:</h4>
          <mat-form-field appearance="outline" class="w-50 pe-0">
            <mat-label>Ingrese fecha:</mat-label>
            <input name="date_of_debt" matInput [matDatepicker]="picker" [(ngModel)]="debtsServices.debts.date_of_debt">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <h4 class="m-0">Tributos:</h4>
          <mat-form-field appearance="outline" class="w-50 pe-0">
            <mat-label>Seleccione Tributo</mat-label>
            <mat-select name="tributo" [(ngModel)]="tributoElegido">
              <mat-option *ngFor="let tribute of tributes" [value]="tribute.valor">
                {{tribute.valor}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="py-2" style="text-align:center">
          <button class="btn btn-primary" mat-button matStepperNext>Siguiente</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Monto y descripcion</ng-template>
        <div class="form-group col-sm-12 py-2">
          <h4 class="card-subtitle m-0">Monto:</h4>
          <input type="number" class="form-control w-50" name="amount" placeholder="Ingrese monto"
            [(ngModel)]="debtsServices.debts.amount">
        </div>
        <div class="form-group col-sm-12 py-2">
          <h4 class="card-subtitle m-0">Descripcion:</h4>
          <input type="text" class="form-control w-50" name="description" placeholder="Ingrese descripcion"
            [(ngModel)]="debtsServices.debts.description">
        </div>
        <div class="py-2" style="text-align:center">
          <button class="btn btn-primary mx-2" mat-button matStepperPrevious>Atras</button>
          <button class="btn btn-primary mx-2" mat-button matStepperNext>Siguiente</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Pago</ng-template>
        <div class="form-group col-sm-12 py-2">
          <h4 class="card-subtitle m-0">Medio de pago:</h4>
          <mat-radio-group name="pago" aria-label="Seleccione banco" [(ngModel)]="bancoElegido">
            <mat-radio-button class="px-3" value="BBVA">
              <img src="assets/bbva.webp" class="d-block w-100" alt="..." height="30">
            </mat-radio-button>
            <mat-radio-button class="px-3" value="BCP">
              <img src="assets/bcp.png" class="d-block w-100" alt="..." height="30">
            </mat-radio-button>
            <mat-radio-button class="px-3" value="INTERBANK">
              <img src="assets/interbank.png" class="d-block w-100" alt="..." height="30">
            </mat-radio-button>
            <mat-radio-button class="px-3" value="SCOTIABANK">
              <img src="assets/scotiabank.png" class="d-block w-100" alt="..." height="30">
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="py-3" style="text-align:center">
          <button class="btn btn-primary mx-2" mat-button matStepperPrevious>Atras</button>
          <!-- <button class="btn btn-danger mx-2"  mat-button matStepperNext>Pagar Ahora</button>-->
          <button type="submit" class="btn btn-danger mx-2" mat-button matStepperNext
            (click)="debts(formDebt)">Pagar</button>
        </div>
      </mat-step>
    </form>
    <mat-step>
      <ng-template matStepLabel>Constancia</ng-template>
      <div class="row">
        <p class="fw-bold">Datos Generales:</p>
        <div>
          <p class="d-inline fw-bold pe-3">RUC:</p> 
          <div class="d-inline" *ngIf="confirmUser">{{authServices.userlogin.ruc}}</div> 
          <div class="d-inline" *ngIf="confirmBusiness">{{authServices.userBusiness.ruc}}</div> 
        </div>
        <div>
          <p class="d-inline fw-bold pe-3">Descripcion: </p> {{debt.description}}
        </div>
        <div>
          <p class="d-inline fw-bold pe-3">Entidad Bancaria: </p> {{bancoElegido}}
        </div>
        <div><p class="d-inline fw-bold pe-3">Fecha: </p> {{debt.date_of_debt|date:'shortDate'}}</div>
        <div>
          <p class="d-inline fw-bold pe-3">Tributo: </p> {{tributoElegido}}
        </div>
        <div>
          <p class="d-inline fw-bold pe-3">Monto: </p> {{debt.amount}}
        </div>
      </div>

      <div class="py-2" style="text-align:center">
        <button class="btn btn-primary mx-2">Aceptar</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>