<div style="background-color: white;" class="w-100">
  <nav class="navbar fixed-top navbar-light" style="background-color: #0f172a ;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <p class="mb-0" style="color:white">PROYECTO COMPONENTE CUENTA UNICA - SUNAT</p>
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <p class="mb-0" style="color:white">Inicio</p>
          </a>
        </li>
       
        <li class="nav-item">
          <button type="button" class="btn btn-outline-secondary mx-2" data-bs-toggle="modal"
            data-bs-target="#staticBackdropLogin">Iniciar Sesion</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-success me-2" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">Registrarse</button>
        </li>
      </ul>
    </div>
  </nav>

  <div id="carouselExampleCaptions" class="carousel carousel-dark slide carousel-fade " data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/carrusel0.jpg" class="d-block w-100 h-75" alt="...">
        
      </div>
      <div class="carousel-item">
        <img src="assets/carrusel1.jpg" class="d-block w-100 h-75" alt="...">
        
      </div>
      <div class="carousel-item">
        <img src="assets/carrusel2.jpg" class="d-block w-100 h-75" alt="...">
        
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




 

 
  <div class="parallaxSebas"
    style="background-image: url(https://cdn-icons.flaticon.com/png/128/3183/premium/3183546.png?token=exp=1649458694~hmac=0efd66aa9a1ca1169ce800388e579585),url(assets/doctor.jpg);">
    <p>USO DE TENDENDENCIAS DE TECNOLOGICAS
    </p>
  </div>

  <nav class="cards" style="background-color:  hsl(195, 53%, 87%);">

    
    <a href="#">
      <mat-card class="example-card">
        <mat-card-header class="justify-content-center">
          <mat-card-title style="text-align: center;">Cloud-Native Platforms</mat-card-title>
          <mat-card-subtitle class="text-center">.........</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
          src="https://png.pngtree.com/png-vector/20190805/ourlarge/pngtree-cloud-network-server-internet-data-flat-color-icon-vector-png-image_1650832.jpg"
          alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="text-center">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima, ipsa assumenda dolores qui labore consectetur, laudantium magnam incidunt ut pariatur, hic quaerat rerum ea rem a ab tenetur esse.
          </p>
        </mat-card-content>
      </mat-card>
    </a>
    <a href="#">
      <mat-card class="example-card">
        <mat-card-header class="justify-content-center">
          <mat-card-title style="text-align: center;">Hyperautomation</mat-card-title>
          <mat-card-subtitle class="text-center">.........</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
          src="https://quixy.com/wp-content/uploads/2020/08/Hyperautomation-1.png"
          alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="text-center">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt itaque laborum velit possimus molestias saepe magnam, illum quisquam voluptatem cupiditate tenetur placeat corporis qui, cumque eveniet eius distinctio, culpa porro.
          </p>
        </mat-card-content>
      </mat-card>
    </a>
    <a href="#">
      <mat-card class="example-card">
        <mat-card-header class="justify-content-center">
          <mat-card-title style="text-align: center;">Cybersecurity </mat-card-title>
          <mat-card-subtitle class="text-center">.........</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
          src="https://img.freepik.com/premium-vector/encryption-data-protection-privacy-vector-icon_116137-3712.jpg?w=2000"
          alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="text-center">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis natus, repellat ratione maiores fugiat nostrum. Id deserunt doloribus obcaecati culpa laudantium aperiam fugit, earum nesciunt iusto rerum eligendi rem saepe.
          </p>
        </mat-card-content>
      </mat-card>
    </a>
    <a href="#">
      <mat-card class="example-card">
        <mat-card-header class="justify-content-center">
          <mat-card-title style="text-align: center;">Distributed Enterprise</mat-card-title>
          <mat-card-subtitle class="text-center">.........</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
          src="https://us.123rf.com/450wm/vallepu/vallepu1502/vallepu150200046/73474775-system-integration-architecture-illustrates-various-systems-like-legacy-and-enterprise-servers-file-.jpg?ver=6"
          alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="text-center">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi distinctio magni, ipsam asperiores officiis fugit repudiandae non laborum, modi, molestiae animi? Sint magnam amet deleniti ducimus impedit aut libero nihil.
          </p>
        </mat-card-content>
      </mat-card>
    </a>
    
  </nav>

  
  <div class="mt-5">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-white" style="background-color: #0f172a">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold text-center">
                GRUPO TEAM INNOVATION
              </h6>
              <p style="text-align: justify;">
                Somos expertos en desarrollo de software a partir de problemas
                reales que tienen nuestros clientes. Realizamos aplicaciones a la medida
                de tus necesidades en cualquier plataforma combinando versión
                móvil, web o escritorio
              </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold text-center">Integrantes</h6>
              <p>
                <a class="text-white">
                  <li>Gustavo Moreno</li>
                </a>
              </p>
              <p>
                <a class="text-white">
                  <li>Oscar Garcia</li>
                </a>
              </p>
             
              <p>
                <a class="text-white">
                  <li>Adrian Lazaro</li>
                </a>
              </p>

               
              <p>
                <a class="text-white">
                  <li>.........</li>
                </a>
              </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold text-center">Contacto</h6>
              <p><i class="fas fa-home mr-3"></i> Calle Germán Amézaga s/n - Lima</p>
              <p><i class="fas fa-envelope mr-3"></i> Teléfono: 619 - 7000 anexo xxxx</p>
              <p><i class="fas fa-phone mr-3"></i>https://sistemas.unmsm.edu.pe</p>
              <p><i class="fas fa-print mr-3"></i></p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3" style="margin-bottom: 5rem;">
              <h6 class="text-uppercase mb-4 font-weight-bold"> Follow us</h6>
              <div>

              </div>
              <!-- Facebook -->
              <a class="btn btn-floating m-1" style="background-color: #929fba;;" href="!#" role="button"><i
                  class="fab fa-facebook-f"></i> <img src="assets/facebook.svg" style="height: 48px;" alt="eso"></a>

              <!-- Twitter -->
              <a class="btn btn-floating m-1" style="background-color: #929fba;" href="#!" role="button"><i
                  class="fab fa-twitter"></i><img src="assets/twitter.svg" style="height: 48px;" alt="eso"></a>

              <!-- Whatsapp -->
              <a class="btn btn-floating m-1" style="background-color: #929fba;" href="#!" role="button"><i
                  class="fab fa-google"></i><img src="assets/whatsapp.svg" style="height: 48px;" alt="eso"></a>

              <!-- Instagram -->
              <a class="btn btn-floating m-1" style="background-color: #929fba;;" href="#!" role="button"><i
                  class="fab fa-instagram"></i><img src="assets/instagram.svg" style="height: 48px;" alt="eso"></a>



            </div>
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">GOOGLE.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>

</div>

<div class="row">
  <!--LOGIN-->
  <div class="modal" id="staticBackdropLogin" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel"></h5>
          <button type="button" class="btn btn-danger btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
          <h4>¡BIENVENIDO!</h4>
          <div class="col-12">
            <label>Usuario</label>
            <input type="email" name="username" class="form-control" placeholder="Ingrese usuario"
              [formControl]="controlUser">
          </div>
          <div class="col-12">
            <label>Contraseña</label>
            <input type="password" name="password" class="form-control" placeholder="Ingrese contraseña"
              [formControl]="controlPass">
          </div>
          <div class="form-check ">
            <input class="form-check-input" type="checkbox" id="rememberMe">
            <label class="form-check-label" for="rememberMe"> Recuerdame</label>
          </div>
          <div class="col-8">
            <button type="submit" class="btn btn-success float-end" data-dismiss="modal" data-backdrop="false"
              (click)="login()">Entrar</button>
          </div>
        </div>
        <div class="modal-footer col-12">
          <p class="text-center mb-0">¿Aun no tienes cuenta? <button type="button" class="btn btn-link"
              data-bs-toggle="modal" data-bs-target="#staticBackdrop">Registrate</button></p>
        </div>
      </div>
    </div>
  </div>


  <!--FIN LOGIN-->
  <div class="modal fade"  id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content " style="background-color: white;">
        <div class="modal-header">
          <button type="button" class="btn btn-danger btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body m-0">
          <div class="container m-0">
            <div class="row">
              <div class="col-md-12 ">
                <div class="signup-form">
                  <form #userForm="ngForm" (ngSubmit)="addUser(userForm)" class="mt-2 p-4 shadow-none">
                    <h4 class="mb-5 text-secondary">Crear Nueva Cuenta</h4>
                    <div class="row">
                      <div class="mb-3 col-md-6 form-group">
                        <label>Nombre<span class="text-danger">*</span></label>
                        <input type="text" name="fname" class="form-control" placeholder="Ingrese Nombre"
                          [(ngModel)]="userServices.userSelected.name">
                      </div>
                      <div class="mb-3 col-md-6 form-group">
                        <label>Apellidos<span class="text-danger">*</span></label>
                        <input type="text" name="Lname" class="form-control" placeholder="Ingrese Apellidos"
                          [(ngModel)]="userServices.userSelected.lastname_p">
                      </div>
                     
                      <div class="mb-3 col-md-12 form-group">
                        <label>RUC<span class="text-danger">*</span></label>
                        <input type="text" name="dni" class="form-control" placeholder=" 11 digitos"
                          [(ngModel)]="userServices.userSelected.dni">
                      </div>
                    
                      <div class="mb-3 col-md-12 form-group">
                        <label>Contraseña<span class="text-danger">*</span></label>
                        <input type="password" name="password" class="form-control" autocomplete="new-password" placeholder="Ingrese Contraseña"
                          [(ngModel)]="userServices.userSelected.password">
                      </div>
                      <div class="col-md-12">
                        <button type="submit" class="btn btn-primary float-end">Registrarse</button>
                      </div>
                    </div>
                  </form>
                  <p class="text-center mt-3 text-secondary">Si ya tiene cuenta, por favor <a href="" class="text-reset">Ingrese</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>